---
import { Image } from "astro:assets"
import { resolveCoverImage } from "~/content/newsletter/_resolveImage.js"
import { format } from "date-fns"
import { Icon } from "astro-icon/components"

export type Props = {
  edition: {
    slug: string
    data: {
      title: string
      publishDate: Date
      coverImage: string
    }
  }
}
const { edition } = Astro.props

const image = await resolveCoverImage(edition)
---

<article class="@container">
  <a
    href={`/newsletter/${edition.slug}/`}
    data-astro-prefetch
    class="group flex items-center gap-4 rounded-sm bg-neutral-900/5 p-4 transition-colors @md:flex-row @md:px-6 dark:bg-neutral-800/15">
    <div class="flex-1">
      <h3 class="font-bold leading-6 [text-wrap:pretty] group-hover:text-primary-500">
        {edition.data.title}
      </h3>
      <p
        class="mt-2 flex items-center gap-x-1.5 text-sm font-semibold text-neutral-600 dark:text-neutral-700">
        <Icon name="ri:calendar-event-line" class="size-4" />
        <time datetime={edition.data.publishDate.toISOString()}>
          {format(edition.data.publishDate, "d MMM yyyy")}
        </time>
      </p>
    </div>
    <figure class="w-1/6 min-w-20 shrink-0 overflow-hidden rounded-sm">
      <Image
        src={image}
        alt={edition.data.title}
        width={image.width}
        height={image.height}
        class="aspect-[4/3] object-cover"
      />
    </figure>
  </a>
</article>
