---
import { Image } from "astro:assets"
import { resolveCoverImage } from "~/content/newsletter/_resolveImage.js"
import { format } from "date-fns"

export type Props = {
  edition: {
    slug: string
    data: {
      title: string
      publishDate: Date
      coverImage: string
    }
  }
}
const { edition } = Astro.props

const image = await resolveCoverImage(edition)
---

<article class="@container">
  <a
    href={`/newsletter/${edition.slug}/`}
    data-astro-prefetch
    class="group flex h-full flex-col items-start gap-3 transition-colors @md:flex-row @md:items-center @md:gap-6">
    <figure
      class="relative isolate origin-center overflow-hidden ring-4 ring-neutral-200 transition group-hover:ring-primary-500 @md:w-1/5 dark:ring-neutral-950">
      <Image
        src={image}
        alt={edition.data.title}
        width={image.width}
        height={image.height}
        class="aspect-video object-cover"
      />
    </figure>
    <div class="flex-1 px-2 @md:px-0">
      <h2 class="font-bold leading-tight [text-wrap:pretty] group-hover:text-primary-500">
        {edition.data.title}
      </h2>
      <time
        datetime={edition.data.publishDate.toISOString()}
        class="mt-1 block text-sm text-neutral-700 dark:text-neutral-400"
        >{format(edition.data.publishDate, "d MMM yyyy")}</time
      >
    </div>
  </a>
</article>
