---
import { type CollectionEntry, getCollection, getEntry } from "astro:content"
import { format } from "date-fns"
import { Image } from "astro:assets"
import { Icon } from "astro-icon/components"
import { resolveCoverImage, resolveSocialImage } from "~/content/newsletter/_resolveImage.js"
import RazAvatar from "~/images/raz.jpg"
import Layout from "~/layouts/Base.astro"

export type Props = {
  edition: CollectionEntry<"newsletter">
}

export async function getStaticPaths() {
  const newsletter = await getCollection("newsletter")
  return newsletter.map((edition) => ({
    params: { slug: edition.slug },
    props: { edition },
  }))
}

const { edition } = Astro.props

const { data, render } = edition
const { Content } = await render()

const coverImage = await resolveCoverImage(edition)
const author = "Raz Tirboaca"
---

<Layout
  title={data.title}
  description="Join 600+ makers and get a weekly summary of the best resources to move things forward. Highly relevant for product managers, designers, and engineers."
  image={coverImage}>
  <article class="mx-auto max-w-3xl px-6 pb-12 pt-8 sm:px-8">
    <div class="mb-6">
      <a
        href="/newsletter/"
        class="inline-flex items-center gap-x-1.5 text-sm font-semibold text-neutral-700 transition-colors hover:text-inherit dark:text-neutral-400"
        ><Icon name="ri:arrow-left-line" class="size-5" />Newsletter</a
      >
    </div>
    <header>
      <h1 class="text-2xl font-bold tracking-tight [text-wrap:pretty] md:text-3xl">
        {data.title}
      </h1>
      <div class="mt-4 flex items-center gap-6 sm:mt-6">
        <div
          class="inline-flex items-center gap-x-1.5 text-sm text-neutral-700 dark:text-neutral-400">
          <Icon name="ri:calendar-event-line" class="size-5" />
          <time datetime={data.publishDate.toISOString()}>
            {format(data.publishDate, "d MMM yyyy")}
          </time>
        </div>
        <a
          href="https://twitter.com/razvantirboaca"
          target="_blank"
          class="inline-flex items-center gap-x-1.5 text-sm text-neutral-700 transition-colors hover:text-inherit dark:text-neutral-400">
          <Image src={RazAvatar} class="size-6 rounded-full" alt={author} />{author}
        </a>
      </div>
    </header>
    <figure class="my-10 overflow-hidden rounded-xl sm:rounded-2xl">
      <Image
        src={coverImage}
        alt={data.title}
        width={coverImage.width}
        height={coverImage.height}
        class="w-full"
      />
    </figure>
    <div class="mt-8 md:mt-12">
      <div
        class="prose prose-neutral max-w-none text-base dark:prose-invert prose-a:font-medium prose-a:decoration-neutral-900/25 prose-a:decoration-2 prose-a:underline-offset-2 prose-a:transition-colors hover:prose-a:decoration-primary-500 prose-strong:font-bold prose-hr:mx-auto prose-hr:w-10 prose-hr:border-t-8 prose-hr:border-dotted sm:text-lg dark:prose-a:decoration-neutral-100/30 dark:hover:prose-a:decoration-primary-500">
        <Content />
      </div>
    </div>
  </article>
</Layout>
